@import "../variables.scss";
@import "../mixins.scss";

header{
    background: $mainCOlor;
    padding: 1.3rem 0;
    text-align: center;
    @include font-style( 1.2rem, 800, 1rem, White);
    margin-bottom: 2rem;
}